In [1]:
import os
import pandas as pd
from apps.preprocesing.pipline.log_preprocess import LogPreprocessor

In [2]:
pre = LogPreprocessor(data_path)
pre.load()

NameError: name 'data_path' is not defined

In [5]:
pre.clean(key_cols=['case','concept','time'],mode='strict')
pre.df.head()

✅ Cleaned log: 451359 events using columns: []

,isCancelled,diagnosis,time:timestamp,caseType,speciality,org:resource,concept:name,blocked,isClosed,flagD,...,lifecycle:transition,case:concept:name,closeCode,actRed,actOrange,flagC,msgCount,version,msgType,msgCode
0,False,A,2012-12-16 19:33:10+00:00,A,A,ResA,NEW,False,True,True,...,complete,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2013-12-15 19:00:37+00:00,NaN,NaN,NaN,FIN,NaN,NaN,NaN,...,complete,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2013-12-16 03:53:38+00:00,NaN,NaN,NaN,RELEASE,NaN,NaN,NaN,...,complete,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,2013-12-17 12:56:29+00:00,NaN,NaN,NaN,CODE OK,NaN,NaN,NaN,...,complete,A,NaN,False,False,False,0.0,A,NaN,NaN
4,NaN,NaN,2013-12-19 03:44:31+00:00,NaN,NaN,ResB,BILLED,NaN,NaN,NaN,...,complete,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pre.unique_values_summary("case:concept:name")

In [7]:
pre.describe()

✅ Descriptive stats ready.

{'cases': 100000,
 'events': 451359,
 'activities': 18,
 'activity_frequencies': {'NEW': 101289,
  'FIN': 74738,
  'RELEASE': 70926,
  'CODE OK': 68006,
  'BILLED': 67448,
  'CHANGE DIAGN': 45451,
  'DELETE': 8225,
  'REOPEN': 4669,
  'CODE NOK': 3620,
  'STORNO': 2973,
  'REJECT': 2016,
  'SET STATUS': 705,
  'EMPTY': 449,
  'MANUAL': 372,
  'JOIN-PAT': 358,
  'CODE ERROR': 75,
  'CHANGE END': 38,
  'ZDBC_BEHAN': 1}}

In [13]:
pre.export()

✅ Clean log exported → clean_log.csv

'clean_log.csv'