In [5]:
from apps.preprocesing.pipline.log_preprocess import LogPreprocessor
pre = LogPreprocessor()
pre.load("Sepsis Cases - Event Log.xes.gz")

parsing log, completed traces ::   0%|          | 0/1050 [00:00<?, ?it/s]

,InfectionSuspected,org:group,DiagnosticBlood,DisfuncOrg,SIRSCritTachypnea,Hypotensie,SIRSCritHeartRate,Infusion,DiagnosticArtAstrup,concept:name,...,DiagnosticLacticAcid,lifecycle:transition,Diagnose,Hypoxie,DiagnosticUrinarySediment,DiagnosticECG,case:concept:name,Leucocytes,CRP,LacticAcid
0,True,A,True,True,True,True,True,True,True,ER Registration,...,True,complete,A,False,True,True,A,NaN,NaN,NaN
1,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Leucocytes,...,NaN,complete,NaN,NaN,NaN,NaN,A,9.6,NaN,NaN
2,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CRP,...,NaN,complete,NaN,NaN,NaN,NaN,A,NaN,21.0,NaN
3,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LacticAcid,...,NaN,complete,NaN,NaN,NaN,NaN,A,NaN,NaN,2.2
4,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ER Triage,...,NaN,complete,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15209,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CRP,...,NaN,complete,NaN,NaN,NaN,NaN,KNA,NaN,66.0,NaN
15210,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Release A,...,NaN,complete,NaN,NaN,NaN,NaN,KNA,NaN,NaN,NaN
15211,False,L,False,False,False,False,False,False,False,ER Registration,...,False,complete,NaN,False,False,False,LNA,NaN,NaN,NaN
15212,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ER Triage,...,NaN,complete,NaN,NaN,NaN,NaN,LNA,NaN,NaN,NaN
15213,NaN,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ER Sepsis Triage,...,NaN,complete,NaN,NaN,NaN,NaN,LNA,NaN,NaN,NaN

In [6]:
#pre.debug = True
pre.smart_clean(scope="all",inplace=True)

          concept:name            time:timestamp  case:concept:name
0      ER Registration 2014-10-22 11:15:41+00:00                  1
1           Leucocytes 2014-10-22 11:27:00+00:00                  1
2                  CRP 2014-10-22 11:27:00+00:00                  1
3           LacticAcid 2014-10-22 11:27:00+00:00                  1
4            ER Triage 2014-10-22 11:33:37+00:00                  1
...                ...                       ...                ...
10228              CRP 2014-11-14 07:00:00+00:00               1050
10229       Leucocytes 2014-11-14 07:00:00+00:00               1050
10230       Leucocytes 2014-11-16 07:00:00+00:00               1050
10231              CRP 2014-11-16 07:00:00+00:00               1050
10232        Release A 2014-11-17 18:00:00+00:00               1050

[15212 rows x 3 columns]

In [ ]:
pre.anonymize_column("case:concept:name", mode="numeric", inplace=True)
pre.drop_columns(["concept:name","time:timestamp","case:concept:name"],keep_mode=True)

In [ ]:
pre.list_columns()

In [ ]:
pre.df

In [ ]:
pre.list_columns_types()

In [ ]:
pre.unique_summary("concept:name")

In [ ]:
pre.describe(True)

In [ ]:
pre.drop_constant_columns(null_threshold=0.9)

In [ ]:
pre.drop_columns()

In [ ]:
pre.sort_by_columns(["case:concept:name","time:timestamp"],ascending=True,inplace=True)

In [ ]:
pre.anonymize_column("case:concept:name",mode="numeric",inplace=False)

In [ ]:
pre.anonymize_column("time:timestamp",mode="alphabetic",inplace=False)

In [ ]:
pre.rename_column("case:concept:name","ID",inplace=False)

In [ ]:
pre.df

In [ ]:
pre.merge_columns(columns=["concept:name","lifecycle:transition"],new_column="my:column",delimiter="_",inplace=False)

In [ ]:
pre.convert_column_type("time:timestamp","datetime",on_fail="delete",datetime_formats = ["%Y-%m-%d", "%d/%m/%Y", "%Y-%m-%d %H:%M:%S"], inplace=False)

In [ ]:
pre.convert_column_type("case:concept:name","numeric",on_fail="default",default_value="******",inplace=False)

In [ ]:
pre.df

In [ ]:
pre.remove_duplicates()

In [ ]:
pre.remove_duplicates(["case:concept:name","concept:name"],keep="first",inplace=False)

In [ ]:
pre.remove_by_condition("`case:concept:name` != 'A' and `case:concept:name` != 'B' ",inplace=False)

In [ ]:
pre.df

In [ ]:
pre.replace_values("concept:name",["ER Registration","Leucocytes"],new_value="******",inplace=False)

In [ ]:
pre.replace_values(columns="concept:name",to_replace=["JOIN-PAT","SET STATUS","CODE ERROR","CHANGE END","ZDBC_BEHAN"],new_value="Unknown",inplace=True)

In [ ]:
pre.handle_null_values("case:concept:name",on_null="delete",inplace=False)

In [ ]:
pre.filter_by_range_and_allowed("time:timestamp",range_min="2014-10-22 00:00:00+00:00",range_max="2014-10-23 00:00:00+00:00",on_outside="delete",inplace=False)

In [ ]:
pre.handle_outliers("time:timestamp",deviation_percent=50,groupby_column="case:concept:name",on_outside="delete",inplace=False)

In [ ]:
pre.unique_summary("concept:name")

In [ ]:
pre.reset_to_original()

In [ ]:
df=pre.suggest_corrections("concept:name",["Leucocytes","CRP","ER Registration","LacticAcid","Admission NC","ER Triage"],threshold=15)

In [ ]:
pre.apply_corrections("concept:name",df,inplace=False)

In [ ]:
pre.df

In [ ]:
pre.debug = True
pre.smart_clean(scope="all",inplace=True)

In [ ]:
pre._log_history